:root {
  --primario-claro: #801F24;
  --primario-oscuro: #4E0A05;
  --titulos: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  --texto: 'Poppins', sans-serif;
}

.userform-container {
  margin: 10% 20%;
  text-align: center;
}

.userform-container > a > p{
  margin-top: 5%;
}

.userform-flex > div {
  flex-grow: 1;
}

.nav-link {
  color: white;
}

.nav-tabs {
  background-color: #4E0A05;
  padding-top: 1rem;
}

.userform-flex {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

a {
  text-decoration: none;
}
.logo {
  height: 100px;
}
.logo-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--texto);
  justify-content: space-around;
  color: var(--primario-claro);
}

.btn-danger {
  background-color: var(--primario-oscuro);
  border: 1px solid var(--primario-oscuro);
  margin: 5% 0%;
}

.error-message {
  color: red
}

.modal-dialog-centered {
  margin-top: 10rem;
}

.create-session {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.create-session-cont {
  display: flex;
  height: 3.5rem;
  gap: 1rem;
}

.err-msg {
  text-align: center;
  color: red;
}

.create-btn {
  margin: 0;
}

.add-session {
  text-align: center;
  margin: 0;
}